.fieldrow {
	margin-top: 20px;
}

.personal {
	min-height: 593px;
}

#SearchDoc {
	margin: 24px 0 0 10px;
}

#UserNotFoundAlert{
	display:none;
}
#UserRegisteredAlert{
	display:none;
}
#UserUpdatedAlert{
	display:none;
}
#IncompleteAlert{
	display:none;
}

#UserFoundAlert{
	display:none;
}